* {
    margin: 0;
    padding: 0;
  }

  .logo {
    height: 80px;
  }

  .txt {
    position: absolute;
    font-weight: 900;
    font-size: larger;
    cursor: pointer;
    margin-right: -40px;
  }
  
  .nav-background {
    width: 13%;
    height: 80px;
    background-color: #007BFF;
    border-radius: 0 0 0 90px;
  }
  
  @media (max-width: 992px) {
    .nav-background {
      width: 25%;
      height: 80px;
      border-radius: 0 0 0 80px;
    }
  }
  
  @media (max-width: 768px) {
    .nav-background {
      width: 30%;
      height: 80px;
      border-radius: 0 0 0 70px;
    }
  }
  
  @media (max-width: 480px) {
    .nav-background {
      width: 40%;
      height: 80px;
      border-radius: 0 0 0 90px;
    }
  }
  

  .info-section {
    position: relative;
    text-align: center;
    height: 100vh;
    background: url('../../../Img/fond-1.png') no-repeat center center/cover;
    z-index: -1;
    margin-top: -100px; 
  }

  .content-section {
    padding: 20px;
    z-index: 1; 
    background-color: #1D3557; 
    color: white;
    text-align: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
    font-size: larger;
}

.auth-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    color: white;
    padding: 10px 10px;
  }

  
  .orange {
    background-color: #FF8000;
  }

  .blue {
    background-color: #007BFF;
  }

/* Ajout d'espacement entre le texte et les boutons */
.auth-card .card-body p {
    margin-bottom: 20px; /* Espace entre le texte et les boutons */
  }
  
  .auth-btn {
    padding: 12px 20px; 
    background-color:  #3F454B;
    color: white;
    transition: all 0.3s ease-in-out;
    width: 200px; 
  }
  
  .auth-btn:hover {
    transform: scale(1.05);
    background-color: #2A2D30;
  }
  
  .auth-btn:active {
    background-color: #1D2023;
  }

  .icone {
    width: 50px; 
    height: auto;
  }
  