<nav class="navbar navbar-expand-lg position-relative">
    <div class="container-fluid">
      
      <!-- Logo -->
      <a class="navbar-brand logo-container position-relative active" href="#">
        <img src="Img/logo-bureau.png" alt="Logo Edudrive" class="logo">
      </a>
  
      <!-- Barre bleue en arrière-plan -->
      <div class="nav-background"></div>
  
      <!-- Menu principal -->
      <div class="nav-container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link text-white" aria-current="page"
              routerLink="/code-de-la-route"
              routerLinkActive="active">Code de la route</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Permis de conduire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Mon auto-école</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="profile-icon">
        <img src="Img/profil.png" alt="Profil">
      </div>
    </div>
  </nav>
  
  