<br><br>
<footer class="bg text-white pt-4">
    <!-- Première box (Contact et Réseaux sociaux) -->
    <div class="container">
      <div class="row align-items-start">
        <!-- Section Contact -->
        <div class="col-md-6 mb-3">
          <h5>Contact</h5>
          <p>Email : <a href="#" class="text-white">edudrive.contact&#64;gmail.com</a></p>
          <p>Téléphone : <a href="#" class="text-white">01 24 19 08 11</a></p>
        </div>
  
        <div class="col-md-6 mb-3">
          <h5>Réseaux sociaux</h5>
          <div class="d-flex justify-content-start">
            <a href="#" class="text-white me-3"><i class="ic bi-facebook"></i></a>
            <a href="#" class="text-white me-3"><i class="ic bi-instagram"></i></a>
            <a href="#" class="text-white me-3"><i class="ic bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="bg-copy py-3 w-100">
      <p class="font m-0">© 2025 EduDrive - Tous droits réservés</p>
    </div>
  </footer>
  