<app-header></app-header>

<br><br>
<div class="container text-center">
  <h1 class="title">Bienvenue [Prénom élève]</h1>

  <div class="progress-container">
    <div class="progress-bar-container">
      <span class="progress-text">{{ progress | number: '1.0-0' }}%</span>
      <div class="progress-bar" [style.width.%]="progress"></div>
    </div>
    <button (click)="simulateTestCompletion()" class="btn button">Simuler les tests</button>
  </div>
<br><br>

  <div class="row mt-4">
    <!-- Graphique -->
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <p>Code de la route</p>
      <div class="chart-container">
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType"></canvas>
      </div>
      <button class="btn button">Accéder à mes stats</button>
    </div>

    <!-- Calendrier -->
    <div class="col-md-6">
      <p>Permis de conduire</p>
      <div class="container bg">
        <div id="calendar"></div>
        <br>
        <p class="calendar-description">"Votre prochaine heure de conduite est le 22 mars à 10h avec M. Dupont"</p>
      </div>
      <button class="btn button">Accéder à mes sessions</button>
    </div>
  </div>

  <div class="mt-4">
    <button class="btn button">Laisser un avis</button>
  </div>
</div>

<app-footer></app-footer>